.character-profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    color: var(--black-text);
}

.go-back-button {
    padding: 10px;
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    color: var(--grey-text);
    transition: all 0.2s ease;
    text-decoration: underline;
}

.go-back-button:hover {
    color: var(--black-text);
}

.pagination-button:hover {
    background: var(--card-bg);
    color: var(--white-text);
}

.character-profile-container h1 {
    margin: 0;
}

.image-container {
    flex: 0 0 auto;
    max-width: 400px;
    width: 100%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-lg);
}

.character-wall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.character-stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;

    font-weight: Bold;
    font-size: 24px;
}

.character-stats p {
    color: var(--black-text);
}

.character-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--black-text);
}