.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    margin: 40px auto;
}

.pagination-button {
    padding: 8px 10px;
    background: var(--white-text);
    border: var(--border-light);
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    color: var(--black-text);
    cursor: pointer;
    transition: all 0.2s ease;
}


.pagination-button:hover {
    background: var(--card-bg);
    color: var(--white-text);
}


.pagination-button:disabled {
    background: var(--disabled-color);
    color: var(--grey-text);
    border-color: var(--disabled-color);
    cursor: not-allowed;
}

.pagination-button:disabled:hover {
    background: var(--disabled-color);
    color: var(--grey-text);
}