.character-link {
    text-decoration: none;
}

.character-card {
    width: 260px;
    background-color: var(--card-bg);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    margin: 10px;
    box-shadow: var(--card-shadow);
    text-align: start;
    transition: all 0.3s ease;
}

.character-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.character-info {
    padding: 15px;
    color: var(--white-text);
}

h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.character-card:hover h2 {
    text-decoration: underline;
}

p {
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--grey-text);
}

.status {
    display: flex;
    align-items: center;
    color: var(--white-text);
}


.location,
.origin,
.gender {
    color: var(--white-text);
}


@media screen and (min-width: 600px) {
    .character-card {
        width: 300px;
    }
}