.search-bar {
    display: flex;
    max-width: 500px;
    width: 100%;
    margin: 20px;
    border: var(--border-light);
    border-radius: var(--border-radius-md);
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 16px;
    color: var(--card-bg);
    border: none;
    outline: none;
    background-color: transparent;
}


@media screen and (min-width: 600px) {
    .search-bar {
        margin: 20px 24px;
    }
}