.character-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid red;
}