.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    margin: 40px auto;
}

.pagination-button {
    padding: 8px 10px;
    background: white;
    border: 1px solid #3c3e44;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease;
}


.pagination-button:hover {
    background: #3c3e44;
    color: white;
}