.search-bar {
    display: flex;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #333;
    border-radius: 6px;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 16px;
    color: #333;
    border: none;
    outline: none;
    background-color: transparent;
}