#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--grey-text);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.character-status-icon {
  width: 10px;
  height: 10px;
  border-radius: var(--border-radius-full);
  margin-right: 5px;
}

.alive {
  background-color: var(--status-green);
}

.dead {
  background-color: var(--status-red);
}

.unknown {
  background-color: var(--status-unknown);
}