#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #888;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.character-status-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.alive {
  background-color: #55cc44;
}

.dead {
  background-color: #d63d2e;
}

.unknown {
  background-color: #9e9e9e;
}